.rainbow-text {
  background-color: violet;
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-style: italic;
  animation: rainbow 5s infinite;
}

@keyframes rainbow { 
  0%{background-color: violet;}
  15%{background-color: indigo;}
  25%{background-color:blue}
  50%{background-color: green;}
  75%{background-color: yellow;}
  85%{background-color: orange;}
  100%{background-color: red;}
}

.rainbow-bg{
  background-color: violet;
  text-align: center;
  background-size: auto;
  animation: rainbow 5s infinite;
}

.Login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: groove;
  margin-bottom: 27%;
  }
  .from {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }

.Title{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  
}

.Club{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.App-footer {
  background-color:rgb(0, 60, 113);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-style: italic;
  color:whitesmoke;
  

}

.bg {
  background-color:rgb(0, 60, 113);
}

.input-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-style: dotted;
  margin: 30px;
}
.App-footer{
  bottom: 0;
  text-align: center;
  padding:20px;
}
.rainbow-text{
  margin-bottom: 0px;
}